* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABECERA */
.cabecera{
    background-color: #cbeef0;
    height: 300px;
    width: 100%;
    text-align: center;
}

/* casilla redondeada */
.contenedor {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.casilla-inicio{
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1791cf;
    background: #b1e2e7;
    width: 140px;
    padding: 6px 12px;
    border-radius: 30px;
    font-family: 'arial';

}

/* titulo */
.cabecera h1{
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    width: 100%;
    font-family: 'arial';
    
}

/* texto introductorio */
.cabecera h3{

    text-align: center;
    margin-left: 150px;    
    margin-right: 150px;   
    margin-top: 20px;
    color: #5c738a;
    font-family: 'Bahnschrift Light';

}


/* NAVEGADOR */
.filtros {
    margin: 40px;
    margin-left: 300px;
    display: flex;
    gap: 10px;
}

.filtros a {
    padding: 8px 16px;
    border-radius: 6px;
    background: #ffffff;
    text-decoration: none;
    color: #333;
    border:2px solid #dae2e7;
    border-radius: 10px;
   
}

.filtros a.activo {
    background: #27abb8;
    color: white;
}

/* LINEA SEPARADORA */

.linea-separadora {
    width: 100%;
    height: 1px;
    background: #d0d0d0;
    margin-top: 40px;
    margin-bottom: 70px;
}


/* CASILLAS DEL NAVEGADOR */
.casillas-menu{
    display: grid;
    grid-template-columns: 3fr;
    
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 200px;
    margin-bottom: 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}


.casillas{
    background: #ffffff;
    border: 1px solid #d0d0d0; 
    border-radius: 12px; 
    padding: 20px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
    width: 300px;

    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: transform 0.2s ease;
    overflow: hidden;

}

.casillas:hover {
    transform: scale(1.1); /* aumenta un 10% */ 
}

.casillas img{
    width: 300px;
    height: 200px;
    border-radius: 12px;

    transition: transform 0.3s ease;
    object-fit: cover;
}

.casillas:hover img{
    transform: scale(1.08); /* la imagen crece un 15% */ 
}

.casillas h4, h5{
    margin: 10px;
    color: #5c738a;
}

.casillas h4{
    text-align: center;
    color: #333;
}

.casillas .fecha{
    background: #ffffff;
    border: 1px solid #d0d0d0; 
    border-radius: 12px; 
    padding: 10px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
    width: 60px;
    text-align: center;
    font-weight: bold;    
    position: absolute;

    margin: 10px;
    z-index: 10;

}

.casillas .categoria{
    background: #2693ca;
    border-radius: 20px; 
    color: white;
    font-size: 10px;
    padding: 10px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
    width: 80px;
    text-align: center;
    font-weight: bold;    
    position: absolute;

    margin-left: 200px;
    margin-top: 10px;
    z-index: 10;
}

.casillas button {

    background-color: #1791cf;
    color: white;
    width: 200px;
    height: 30px;
    align-items: center;
    border-radius: 20px ;
    border: #1791cf;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

